[Desktop Entry]
Encoding=UTF-8
Name=PdfMasher
Comment=Convert PDF to ebook-ready HTML.
Exec=pdfmasher
Icon=/usr/local/share/pdfmasher/logo_small.png
Terminal=false
Type=Application
Categories=Utility
